@import url("materialize.min.css");
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:400&display=swap');
/* @import url("html5reset-1.6.1.css"); */

* {
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

html,body{
  width: 100%;
  height: 100%;
  margin: 0;
}

html{
  background: url("back.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

body {
  background-color: rgba(255,255,255,0.5);
}

#message {
  margin: 0;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
}

.matchInfo>*{
  margin: 0 0.2em;
}

.matchInfo>.stone{
  width: 0.8em;
  height: 0.8em;
  display: inline-block;
  border-radius: 50%;
  border: 2px solid black;
}

.matchInfo>.playerName{
  border-radius: 0.4em;
  padding:0.2em;
}

.matchInfo>.white{
  background: white;
}

.matchInfo>.black{
  background: black;
}

.matchInfo>.turn{
  background: rgba(255, 0, 0, 0.3);
}

#wrapper{
  width: 90%;
  margin: 0 auto;
  display: none;
}

#canvas-outer{
  position: relative;
  max-width: 500px;
  height: auto;
  margin: 0 auto;
}

#canvas-outer:before{
  content: "";
  display: block;
  padding-top: 100%;
}

#canvas-wrapper{
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%;
  height: 100%;
}

#canvas{
  background-color: black;
  width: 100%;
  height: 100%;
}
